<div class="grid-x grid-margin-x">
  <h3>Нагрузка</h3>

  <div class="large-12 cell">
    <% form({ method: :post }, { obj: @params }) do |f| %>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <%= f.input(:teacher, type: :select, label: 'Преподаватель', options: @teachers, add_blank: true) %>
        </div>
        <div class="large-12 cell">
          <%= f.button(value: 'Далее', class: 'button') %>
          <a href='/timetable' class="button secondary">Вернутся к списку</a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="large-12 cell">
    <% if @load %>
      <div class="large-12 cell">
        <div class="card cell large-4">
          <div class="card-divider">
              <strong>Нагрузка для <%= @params[:teacher]%></strong>
          </div>
          <div class="card-section">
            <p>Общее количество часов в неделю: <%= @load[:hours]%></p>
            <p>Уникальные предметы: <%= @load[:uniq_subjects].join(', ')%></p>
            <p>Колиество групп: <%= @load[:groups]%></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="large-12 cell">
        <div class="card cell large-4">
          <div class="card-divider">
              <strong>Нагрузку определить не удалось</strong>
          </div>
          <div class="card-section">
            ...
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>