<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Расписание</h3>
  </div>

  <div class="large-12 cell">
    <table>
      <thead>
        <tr>      
          <th>День недели</th>
          <th>Номер пары</th>
          <th>Название предмета</th>
          <th>Имя преподавателя</th>
          <th>Номер аудитории</th>
          <th>Название группы</th>
        </tr>
      </thead>
      <tbody>
        <% @time_table_items.each do |key,  hash_of_pair| %>
          <% (1..6).each do |i| %>
            <% next if !hash_of_pair.key?(i)%>
            <% hash_of_pair[i].each do |item| %>
              <tr >
                <td><%= item.day%></td>
                <td><%= item.number_pair%></td>
                <td><%= item.subject%></td>
                <td><%= item.teacher%></td>
                <td><%= item.audience%></td>
                <td><%= item.group%></td>
                <td><a href="/timetable/<%= item.id %>">Информация</a></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
